.carItem {
  width: 100%;
  display: flex;
  flex-direction: column;

  @media (min-width: rem(590)) {
    width: calc((100% - rem(24)) / 2);
  }

  @media (min-width: rem(890)) {
    width: calc((100% - rem(28 * 2)) / 3);
  }

  @media (min-width: rem(1200)) {
    width: calc((100% - rem(32 * 3)) / 4);
  }
}

.imageWrap {
  position: relative;
  border-radius: rem(14);
  overflow: hidden;
  &:not(:last-child) {
    margin-bottom: rem(16);
  }
  height: rem(268);
  width: 100%;
}

.icon {
  position: absolute;
  top: rem(16);
  right: rem(16);
  width: rem(16);
  height: rem(16);
  fill: var(--badges);
  cursor: pointer;

  &.active {
    fill: var(--button);
  }
}

.image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.titleWrap {
  display: flex;
  justify-content: space-between;
  gap: rem(15);
  &:not(:last-child) {
    margin-bottom: rem(8);
  }
}

.detailsWrap {
  display: flex;
  flex-wrap: wrap;
  &:not(:last-child) {
    margin-bottom: rem(4);
  }

  .detailItem {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33333;
    color: var(--gray);
    padding-left: rem(6);
    padding-right: rem(6);
    border-right: rem(1) solid var(--gray-light);

    &:first-child {
      padding-left: 0;
    }
  }
}

.detailsWrapLast {
  flex-grow: 1;
  &:not(:last-child) {
    margin-bottom: rem(28);
  }

  .detailItem:last-child {
    border-right: none;
  }
}

.link {
  max-width: unset;
}
