.container {
  max-width: rem(1230);
  padding: 0 rem(15);
  margin: 0 auto;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: rem(4);
}

.header {
  background: var(--badges);
  height: rem(60);
  flex-shrink: 0;

  @media (min-width: rem(480)) {
    height: rem(68);
  }
}

.main {
}

.primary-color {
  color: var(--button);
}

.mainLink {
  border-radius: 12px;
  padding: rem(12);
  width: 100%;
  max-width: rem(276);
  height: rem(44);
  background-color: var(--button);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: var(--white);
  outline: none;
  transition: background-color 0.3s ease 0s;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--button-hover);
    }
  }
  &:focus {
    background-color: var(--button-hover);
  }
}

.mainBtn {
  border-radius: 12px;
  padding: rem(12);
  width: 100%;
  max-width: rem(156);
  height: rem(44);
  background: var(--button);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: rem(16);
  line-height: 1.25;
  color: var(--white);
  outline: none;
  transition: background-color 0.3s ease 0s;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--button-hover);
    }
  }
  &:focus {
    background-color: var(--button-hover);
  }
}
