.link {
  border-radius: 12px;
  padding: rem(12);
  width: 100%;
  max-width: rem(276);
  height: rem(44);
  background-color: var(--button);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: var(--white);
  outline: none;
  transition: background-color 0.3s ease 0s;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--button-hover);
    }
  }
  &:focus {
    background-color: var(--button-hover);
  }
}
