@import './styles/reset.css';

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Project settings */
:root {
  --main: #101828;
  --gray: #8d929a;
  --gray-light: #dadde1;
  --badges: #f2f4f7;
  --inputs: #f7f7f7;
  --white: #fff;
  --button: #3470ff;
  --button-hover: #0b44cd;
  --font-family: 'Manrope', sans-serif;
}

body {
  overflow-wrap: break-word;
  min-width: rem(320);
  background: var(--white);
  font-weight: 500;
  font-size: rem(16);
  line-height: 1.25;
  color: var(--main);
  font-family: var(--font-family);
}
